/* GLOBAL ELEMENTS */

html {
  box-sizing: border-box;
  background-color: #5BABA9;
  cursor: url('../images/icons8-3d-pointer-30.png'), auto;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'sketchy';
  src: url(../fonts/sketchy-font.otf);
  font-style: normal;
  font-weight: 100;
}
body {
  font-family: komet, sans-serif;
  font-size: 1.875rem;
  color: #1F2833;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-family: komet, sans-serif;
  font-weight: 800;
  font-size: 5rem;
  mix-blend-mode: luminosity;
}

h3 {
  font-family: komet, sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h4 {
  margin: 0 0 2rem 0;
}


/* NAVIGATION */

.header {
  background-color: #1F2833 ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5625rem;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.nav ul {
  display: flex;
  list-style: none;
  column-gap: 20rem;
  align-items: center;
}

.nav a {
  color: #EBF4F4;
  text-transform: uppercase;
  font-family: sketchy;
  text-decoration: none;
  letter-spacing: .2rem;
  transition: 0.3s ease;
}

.nav a:hover {
  transform: scale(2rem);
  font-family: sketchy;
  font-size: 2rem;
  color: #5BABA9;
}

/* HOME PAGE CSS */


video.fullscreen {
  position: relative;
  top: 3.563rem;
	width: 100%;
	background-color: #EBF4F4;
	object-fit: cover;
}

.me {
  position: absolute;
  inset: 25rem;
  text-align: center;
}

.firstandlast {
  transition: 0.3s ease;
}
.firstandlast:hover {
  transform: scale(1.1);
}

.arrows {
  position: absolute;
  display: grid;
  inset: 28rem 0rem 2rem 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  height: 30rem;
}


:focus {
  outline: solid #5BABA9;
}
/* Might be better in java script 
.arrows a:hover {
 background: url(../images/sketchy-carat.svg) no-repeat;
}
*/
.leftArrow {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem;
}

.downArrow {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(270deg);
  margin: 29rem 0 0 14rem;
}

.rightArrow {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(180deg);
  margin: 0rem 0rem 0rem 30rem;
}

.bioSection {
  display: flex;
  background-color: #1F2833;
  width: 100%;
  min-height: 44.0625rem;
  color: #EBF4F4;
  text-align: left;
  padding: 15rem;
}

.whyandhow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  background-color: #EBF4F4;
  width: 100%;
  min-height: 60rem;
}

.whyandhow img {
  height: 65rem;
  width: 36.503rem;
}

.headshot {
  display: grid;
}

.tileStack {
  display: grid;
  margin: 8rem 10rem 5rem 6rem;
}
/* FORM ELEMENTS */

form {
  background-color: #1F2833;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 10rem;
  color: #EBF4F4;
}

.formColumn h3 {
  width: 50.625rem;
}

.formColumn ul {
  list-style: none;
  margin: 4rem 0 4rem 0;
  font-family: komet-sc, sans-serif;
  font-weight: 400;
  font-size: 3.125rem;
  letter-spacing: 0.46875rem;
}

.formColumn a {
  text-decoration: none;
  color: #5BABA9;
}

.formColumn a:hover {
  text-decoration: none;
  color: #EBF4F4;
}
svg {
  height: 59px;
  position: relative;
  top: .8rem;
  fill: #5BABA9;

}

svg:hover {
  fill: #EBF4F4;
}

label {
  color: #EBF4F4;
  font-family: komet, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.375rem;
}

input[type=text] {
  margin:rem;
}

input {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 0.625rem;
  width: 100%;
  height: 4.3125rem;
  font-family: komet, sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
}

textarea {
  padding: 1rem;
  width: 100%;
  height: 28rem;
  border-radius: 0.625rem;
  font-family: komet, sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
}

.submit {
  width: 6rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  background: #EBF4F4;
  margin: .5rem 0 0 45rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.33);
  font-family: komet-sc, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
}

.submit:hover {
  border: 3px solid #5BABA9;
  font-family: cabin-sketch-regular, sans-serif;
  text-transform: uppercase;
}

.processForm {
margin-top: 19rem;
}

/* PROCESS PAGE CSS */

.largerSize {
  top: 20rem;
  position: relative;
	width: 100%;
  height: 85rem;
	background-color: #EBF4F4;
	object-fit: cover;
  filter: grayscale(100%);
}

.mainProcess {
  background-color: #f3f3f3;
  transform: scale(2rem);
}

.processShowcase a {
  cursor: pointer;

}

.processShowcase a:visited {
  color: #1F2833;
}

.processShowcase a:hover {
  color: #5BABA9;
  transition: 0.3s ease;
}

/* PROCESS IMAGE ASSETS */

.processleftArrow {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  margin: 24.8rem 0 0 0rem;
  inset: 3rem;
}

.crossword {
  height: 74.66238rem;
  position: absolute;
  inset: 8rem;
  left: 10rem;
}

.terriblefate-mini {
  position: absolute;
  inset: 8rem;
  height: 25rem;
  box-shadow: 3rem 3rem;
  margin-left: 14rem;
}

.auora {
  position: absolute;
  inset: 28rem;
  margin-left: 57.3rem;
  box-shadow: #1F2833 3rem 3rem;
}

.screenprint {
  position: absolute;
  inset: 20rem;
  margin-top: 31.5rem;
  left: 16rem;
  box-shadow: -3rem 3rem;
}

/* PROCESS PINS */

.terriblePin {
  position: absolute;
  inset: 9rem;
  margin-left: 31.5rem;
  height: 1.20rem;
}

.auroraPin {
  position: absolute;
  inset: 30rem;
  margin-left: 42rem;
  height: 1.20rem;
}

.screenPin {
  position: absolute;
  inset: 10rem;
  margin-top: 38rem;
  left: 20rem;
  transform: rotate(270deg);
  height: 1.20rem;
}
/* DESIGN PAGE CSS */

.designrightArrow {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  margin: 24.8rem 0 0 100.5rem;
  transform: rotate(180deg);
  inset: 3rem;
  z-index: 2;
}

.designwork {
  background-color: #EBF4F4;
  padding-top: 5rem;
  position: relative;
  overflow: hidden;
}

.designvideo1 {
  top: 10rem;
right: 40rem;
  position: absolute;
	width: 100%;
  height: 40rem;
  mix-blend-mode: luminosity;
	background-color: #EBF4F4;
  filter: grayscale(100%);
  transform: scaleX(-1) rotate(270deg);
}

.designvideo2 {
  top: 60rem;
  left: 50rem;
  position: absolute;
	width: 100%;
  height: 40rem;
  mix-blend-mode: luminosity;
	background-color: #EBF4F4;
  filter: grayscale(100%);
  transform: rotate(290deg);
}

.carousel {
  max-width: 53rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1.5rem;
}

.carouselBottom {
  margin-bottom: 2rem;
}

.carousel h1 {
  color: rgb(31, 40, 51, 0.5);
  text-align: center;
  margin-bottom: 2rem;

}

.carouselV2 h1 {
  color: rgb(31, 40, 51, 0.5);
  text-align: center;
  margin: 2rem 0;
}

.illustrationCarousel {
  list-style: none;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.publicationCarousel {
  list-style: none;
  margin: 0;
  display: flex;
  overflow: hidden;
}

.brandingCarousel {
  list-style: none;
  margin: 0;
  display: flex;
  overflow: hidden;
}


.cards a {
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 37.25rem;
  background-color: #1F2833;
  padding: 2.625rem;
}


/* do i need this and the class in html 

.slide {
  display: flex;
  flex: 0 0 2rem;
}

*/

.cardtitle {
  position: relative;
  border-top: 1rem solid #EBF4F4;
  height: 5rem;
  width: 100%;
  background-color: #1F2833;
}

.cardtitle h4 {
  display: flex;
  align-items: center;
  color: #EBF4F4;
  justify-content: center;
  margin-top: 0.2rem;
  font-family: komet-sc, sans-serif;
  font-size: 2.5rem;
}

.cardtitle a {
  color: #EBF4F4;
  text-decoration: none;
}

.carouselArrow {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

/* CAROUSEL PREVIOUS ARROWS */

.previousIllustration, .previousPublication, .previousBranding {
  left: 0rem; 
  margin-left: 1.89rem;
}

/* CAROUSEL NEXT ARROWS */

.nextIllustration, .nextPublication, .nextBranding {
  right: 0rem;
  margin-right: 1.89rem;
}

.paginationIllustration, .paginationBranding, .paginationPublication {
  position: absolute;
  margin: 47.35rem 0 0 43rem;
  z-index: 1000;
}

.paginationIllustration li, .paginationPublication li, .paginationBranding li {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0rem;
  background-color: #EBF4F4;
  border-radius: 1rem;
  opacity: 20%;
  cursor: pointer;
}


li.active {
 opacity: 1;
 background-color: #5BABA9;
}
 /* CAROUSEL IMAGES */

.londonPoster {
  width: 19.82rem;
}

.glasgowPoster {
  width: 14.82rem;
}

.horizontalThumbnail {
  width: 44rem;
  height: 32rem;
}

/* SCREENPRINT PAGE */

.projectDisplay {
  display: flex;
  top: 57px;
  background-color: #1F2833;
  padding: 1rem;
  justify-content: center;
  height: 63rem;
}

.projectImage {
  margin: 8rem 2.5rem 5rem 2.5rem;
  height: 43rem;
}

.nextbar {
  position: absolute;
  inset: 55rem;
  color: #EBF4F4;
  margin: 2rem 0rem 0rem 32.5rem;
  cursor: pointer;
}

.nextbar h4 {
font-family: sketchy;
font-size: 3rem;
letter-spacing: .2rem;
}

.nextbar a:hover {
  color: #5BABA9;
  font-size: 3.2rem
  }
  .nextbar a {
    text-decoration: none;
    color: #EBF4F4;
  }

.casestudyGrid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  background-color: #EBF4F4;
  width: 100%;
  min-height: 50rem;
}

.casestudyGrid  p {
 margin-bottom: 2rem;
}

.casestudyGrid  h4 {
 margin-top: 3rem;
 }

.silkscreenSketch {
  display: flex;
  position: absolute;
  width: 55rem;
  margin: 5rem;
}

.screenprint-inclass {
  display: grid;
  width: 40rem;
  height: 60rem;
}

.processType {
  display: grid;
  margin: 13rem 2rem 5rem 13rem;
}

/* AIGA POSTER PAGE */

.relientkposter {
  margin: 8rem 2.5rem 5rem 2.5rem;
  height: 43rem;
}

.partofitGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: #EBF4F4;
  height: 50rem;
}

.partofit-zoomed {
  height: 50rem;
}

.textContent {
  margin: 9.8rem;
  line-height: 2.8125rem;
}

.textContent2 {
  margin: 8rem;
  line-height: 2.8125rem;
}

.candlelightGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  background-color: #EBF4F4;
  height: 50rem;
}

.candlelight-zoomed {
  height: 50rem;
}